<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="emp" class="com.legato.Springcore.Employee">
        <property name="id" value="100" />
        <property name="name" value="ram" />
        <property name="address" ref="add" />
    </bean>
    <bean id="add" class="com.legato.SpringCore.Address">
        <property name="address" value="jpn" />
        <property name="city" value="bng" />
        <property name="country" value="india" />
    </bean>
</beans>